body {
    background: lightblue;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 500px;
    height: 500px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 1.5rem;
    background-color: #ffc133;
    color: white;
    padding: 0.5em 1em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

h1 {
    text-align: center;
}